<html>

<head>
  <title>TEST</title>
  <link rel="stylesheet" type="text/css" href="/sdk/css/connect.css" />
  <script type="text/javascript" src="/sdk/js/canvas-all.js"></script>
</head>

<body>
  <div>
    <p>HI</p>
  </div>
</body>

</html>